<div class="login-box login-page">
  <div class="logo">
    <a href="javascript:void(0);">IMDEB<b>Demo</b></a>
  </div>
  <div class="card">
    <div class="body">
      <form
        id="sign_in"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        novalidate="novalidate"
      >
        <div class="msg">Sign in to start your session</div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">person</i>
          </span>
          <div class="form-line">
            <input
              type="text"
              class="form-control"
              formControlName="username"
              placeholder="Username"
              autofocus
            />
          </div>
          <p
            class="text-danger"
            *ngIf="submitted && getLoginForm.username.errors?.required"
          >
            Please enter Username.
          </p>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">lock</i>
          </span>
          <div class="form-line">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Password"
            />
          </div>
          <p
            class="text-danger"
            *ngIf="submitted && getLoginForm.password.errors?.required"
          >
            Please enter Password.
          </p>
        </div>
        <div class="row">
          <div class="col-xs-8 p-t-5">
            <a
              href="javascript:void(0);"
              [routerLink]="['/auth/register']"
              routerLinkActive="router-link-active"
              >Register</a
            >
          </div>
          <div class="col-xs-4">
            <button class="btn btn-block bg-pink waves-effect" type="submit">
              SIGN IN
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
