<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: black;">
    <div class="card"  style="background-color: black;color:white;">
      <div class="header"> 
         <div class="row">
             <div class="col-lg-12">
                 <div class="col-lg-6">
                    <h2 style="color: white;">
                        MOVIE GALLERY
                      </h2>
                 </div>
                 <div class="col-lg-6">
                    <a href="javascript:void(0)" style="float: right;" class="btn btn-success" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
                 </div>
             </div>
         </div> 
        
        
      </div>
      <div class="body">
        <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
          <div class="movie_card" id="bright">
            <div class="info_section">
              <div class="movie_header">
                <img
                  class="locandina"
                  src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg"
                />
                <h1>Bright</h1>
                <h4>2017, David Ayer</h4>
                <span class="minutes">117 min</span>
                <p class="type">Action, Crime, Fantasy</p>
              </div>
              <div class="movie_desc">
                <p class="text">
                  Set in a world where fantasy creatures live side by side with
                  humans. A human cop is forced to work with an Orc to find a
                  weapon everyone is prepared to kill for.
                </p>
              </div>
              <div class="movie_social">
                <a [routerLink]="['/rating', '120']" class="btn btn-info"
                routerLinkActive="router-link-active">Rating</a>
              </div>
            </div>
            <div class="blur_back bright_back"></div>
          </div>
          <div class="movie_card" id="bright">
              <div class="info_section">
                <div class="movie_header">
                  <img
                    class="locandina"
                    src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg"
                  />
                  <h1>Bright</h1>
                  <h4>2017, David Ayer</h4>
                  <span class="minutes">117 min</span>
                  <p class="type">Action, Crime, Fantasy</p>
                </div>
                <div class="movie_desc">
                  <p class="text">
                    Set in a world where fantasy creatures live side by side with
                    humans. A human cop is forced to work with an Orc to find a
                    weapon everyone is prepared to kill for.
                  </p>
                </div>
                <div class="movie_social">
                     <a [routerLink]="['/rating', '120']" class="btn btn-info"
                     routerLinkActive="router-link-active">Rating</a>
                   <!-- <ul>
                      <li><i class="material-icons checked">star</i></li>
                      <li><i class="material-icons checked">star</i></li>
                      <li><i class="material-icons checked">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                    </ul> -->
                </div>
              </div>
              <div class="blur_back bright_back"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  